<a href="https://colab.research.google.com/github/claret003/pythoncourse/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Air Pollution and Asthma 

---

This project will explore two seperate datasets, one related to air pollution and the other to asthma prevalence, to test the following hypothesis....

### **'elevated levels of air pollution result in increases asthma prevalence in the general population'.**

Air pollution data has been obtained from the WHO Ambient Air Quality Database
https://whoairquality.shinyapps.io/AmbientAirQualityDatabase/

Asthma prevalence data has been sourced from OWID
https://ourworldindata.org/grapher/asthma-prevalence


For ease of access datasets have been saved on GitHub:

*   **Air pollution dataset** = https://github.com/claret003/pythoncourse/blob/main/WHO_AirQuality_Database_2018.csv

*   **Asthma prevalence dataset** = https://github.com/claret003/pythoncourse/blob/main/asthma-prevalence.csv

This hypothesis will be tested by first conducting exploratory data analysis on both datasets to establish their completeness, data cleaning where required, then combining relevant aspects of each dataset to carry out in-depth analysis aiming to answer specific questions, specifically looking at correlation bewteen these two factors.

*A project title and description (what is interesting and how do you propose to find and present this story.*

*A link to the data set* 

*A set of code cells containing functions that manipulate the data, analyse the data, visualise the data and show correlations and trends*

*Text cells which explain what is being done in each code cell and why*

*Text cells with a summary of the findings from the code*

*A final text cell with a reflection on what has been done, any references (including where the data came from.*

STEP 1 - 
Importing in the relevant libraries.
Brining the datasets into seperate dataframes.
Carrying out some exploratory data analysis.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as py
import seaborn as sns

air_pollution = pd.read_csv('https://raw.githubusercontent.com/claret003/pythoncourse/main/WHO_AirQuality_Database_2018.csv')

asthma_prev = pd.read_csv('https://raw.githubusercontent.com/claret003/pythoncourse/main/asthma-prevalence.csv')

air_pollution.head()

   ID WHO city iso3    country  ... color_pm25  conc_pm10  color_pm10
0          3.0  ALB    Albania  ...     orange     30-<50     darkred
1         15.0  AUS  Australia  ...      green        <20       green
2         18.0  AUS  Australia  ...      green        <20       green
3         19.0  AUS  Australia  ...      green        <20       green
4         22.0  AUS  Australia  ...      green        <20       green

[5 rows x 30 columns]

STEP 2 - Checking shape of datasets. Looking for null values and things that might cause an issue with analysis.

In [32]:
# creating a function to check for null values in dataset
def check_shape(df):
  shape = df.shape
  # rows = 
  nulls = df.isnull().sum() #shows the total number of null values in each column
  print(f'there are {shape[1]} columns in the dataset')
  print(f'there are {shape[0]} rows in the dataset \n')
  print('null values per column: \n')
  print(nulls)

print('Air pollution dataset') 
check_shape(air_pollution)
print('\n')
print('Asthma dataset')
check_shape(asthma_prev)

Air pollution dataset
there are 30 columns in the dataset
there are 11971 rows in the dataset

null values per column:

ID WHO city          11090
iso3                     0
country                  0
city                     0
pm10                     0
Year                     0
type_of_stations        68
pm10_type                0
pm25                     0
pm25_type                0
reference               40
latitude                 0
longitude                0
population               0
wbinc16_text             0
region                   0
date_compiled            0
population_source      907
tempcov_PM10          4320
tempcov_PM25          7458
latitude_pop         11961
longitude_pop        11961
Region2                  0
region_abbr              0
tempcov_PM10_grad     4320
tempcov_PM25_grad     7458
conc_pm25                0
color_pm25               0
conc_pm10                0
color_pm10               0
dtype: int64


Asthma dataset
there are 4 columns in the dataset
there are 6468 rows in the dataset

null values per column:

Entity                                                                 0
Code                                                                 980
Year                                                                   0
Prevalence - Asthma - Sex: Both - Age: Age-standardized (Percent)      0
dtype: int64

The fields of interest in each dataset are complete - i.e the outputs above indicate that there are no null values in these columns so there is no need to remove null values as doing so would unnecessaarily reduce the size of the dataset for no gain.

The fields of interest are:

Air pollution dataset: **country, pm25, year**

Asthma dataset: **entity, year, prevalence**

'entity' refers to the country, so the column name will be changed to reflect this.

In [33]:
#changing column name. the output confirms that this change has been made

asthma_prev.rename(columns={'Entity': 'country'})

# add an if statement to test whether country is now a column ***** RUN A TEST

          country  ... Prevalence - Asthma - Sex: Both - Age: Age-standardized (Percent)
0     Afghanistan  ...                                           6.871359
1     Afghanistan  ...                                           6.778874
2     Afghanistan  ...                                           6.694809
3     Afghanistan  ...                                           6.617201
4     Afghanistan  ...                                           6.546920
...           ...  ...                                                ...
6463     Zimbabwe  ...                                           2.924504
6464     Zimbabwe  ...                                           2.938950
6465     Zimbabwe  ...                                           2.953462
6466     Zimbabwe  ...                                           2.967474
6467     Zimbabwe  ...                                           2.980567

[6468 rows x 4 columns]

STEP 2 - Isolate relevant repoting period for each dataset.

The two datasets have differnt reporting periods. As the hypothesis being tested assumes a link between air pollution and asthma, reporting peiods are being selected on the basis that there is a lag time, i.e. exposure to air pollution is required for a period of time before the onset of asthma, and then its diagnosis.

Based on this assumption, data has been selected to incorporporate a lag of 5 years bewteen the reporting periods of the two dataset. Air pollution reporting period is 2009-2013, and the Asthma prevaence reporting period is 2013 - 2017.
*The validity of this lag time is something that could be investigated further.*

In [67]:
# isolating 2009-2013 air pollution data

def keep_years(df, column_name, start_year,end_year):
  new_df = df[(df[column_name]>=start_year)]
  new_df = new_df[(new_df[column_name]<=end_year)]
  return new_df

air_data = keep_years(air_pollution,"Year",2009,2013)

air_data.describe() #using this to check the max and min year, making sure that it has selected only what I have specified

       ID WHO city         pm10  ...  latitude_pop  longitude_pop
count   474.000000  3304.000000  ...      1.000000       1.000000
mean   1498.356540    35.025908  ...     34.681667      33.017776
std     675.107112    36.326386  ...           NaN            NaN
min       3.000000     3.414147  ...     34.681667      33.017776
25%    1207.250000    18.699600  ...     34.681667      33.017776
50%    1537.000000    23.606363  ...     34.681667      33.017776
75%    1888.750000    35.213722  ...     34.681667      33.017776
max    2978.000000   540.000000  ...     34.681667      33.017776

[8 rows x 12 columns]

In [68]:
# isolating 2013 - 2017 asthma prevalence data by calling the function defined above

asthma_data = keep_years(asthma_prev,"Year",2013,2017)

asthma_data.describe()

              Year  Prevalence - Asthma - Sex: Both - Age: Age-standardized (Percent)
count  1155.000000                                        1155.000000
mean   2015.000000                                           5.285344
std       1.414826                                           2.123482
min    2013.000000                                           1.939809
25%    2014.000000                                           3.641307
50%    2015.000000                                           4.781563
75%    2016.000000                                           6.216574
max    2017.000000                                          12.612076

STEP 3 - Group the datasets by country to create a country mean for air pollution rate and asthma prevalence, calculated over a five year period.