<a href="https://colab.research.google.com/github/claret003/pythoncourse/blob/main/Worksheets/Working_with_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with Strings

---
### Exercise 1 input and strings
**Recap**: to get input from the user and store it in a variable, use the instruction  

*variableName = input("message asking user for required information")*  

*Remember: Unless you state otherwise, all input is String data*  

Write a function called **print_full_name()** which will:

*  set a **first_name** to Peter  
*  set a **middle_name** to Barry 
*  set a **surname** to Burrows  
*  print the name in the format: `surname`, `first_name` `middle_name`  

**Expected output**:  
Burrows, Peter Barry

In [13]:
def print_full_name():
  #add your code here to ask the set the variables and print the full name with a comma after the surname.

  first_name = "Peter"
  middle_name = "Barry"
  surname = "Burrows"
  full_name = surname + " ," + first_name + " " + middle_name
  print(full_name)
# run the function print_full_name()
print_full_name()

Burrows ,Peter Barry

# Substrings

---

A String is a set of characters. Each String has a length and each character in the string has a position or index. Indexing starts at 0 so the first character of a String is at position 0. As Strings have varying lengths, the last character of the String is at position -1. To find any character in the String, count from 0 or, if you want to count backwards from the end, count back from -1.  

You can get a particular character, or a set of consecutive characters (substring) from a String using [] and the positions of the characters you want.  

Example:  
To get the first letter of a String (in this case the String is called **name**)
**first_letter** = `name`[0]  
**second_letter** = `name`[1]  
**sixth_letter** = `name`[5]  

To get the last letter of name:  
**last_letter** = `name`[-1]  
**second_last_letter** = `name`[-2]  
**third_last_letter** = `name`[-3]  

Have a go

In [24]:
def print_letter():
   name = "Robert" 
   third_letter = name[2]
   print(third_letter)
  
print_letter()

b

To get a set of letters from a String, use the **slice** operator.  

*substring = stringname[ index of first letter to be included_ : index + 1 of last letter ]* 

Example:  

**first_three_letters** = `name`[0:3]  
**second_to_fifth_letters** = `name`[1:5]  
**last_three_letters** = `name`[-3:]  

*Note: we can't add 1 to -1 as the result would be 0 and confused with the first letter, so we omit the second number to indicate that we want all characters to the end of the string*  

Have a go

In [27]:
def print_slice():
   name = "Christopher" 
   first_four_letters = name[0:4]
   print(first_four_letters)
  
  
# run the function print_slice()  
print_slice()

Chri

---
### Exercise 2 - substrings

Write a function called **print_substring()** which will:
 
Set the variable **name** to "Bartholomew"  
Print the **fourth to the eighth** letters in the `name`  

**Expected output**:  
tholo

In [30]:
def print_substring():
    # add your code below here to set the value of name, then print the fourth to eighth letters of the name.
  name = "Bartholomew"
  first_four_letters = name[3:8]
  print(first_four_letters)
 

# run the function print_substring()
print_substring()

tholo

---
### Exercise 3  - Formatting String output  

Write a function called **print_formatted()** which will:  

*  set the value of **house_number** to 10
*  set the value of **road_name** to "Old Road"
*  set the value of **town** to "Chatham"
*  set the value of **postcode** to "ME1 1AA"    
*  print the address on three lines (`house_number` with a comma and `road_name`, `town`, `postcode`)  

**Expected output**:   
10, Old Road  
Chatham  
ME4 1AA

In [54]:
def print_formatted():
  # add code here to set the variables and format the printed output
  house_number = "10"
  road_name = "Old Road"
  town = "Chatham"
  postcode = "ME1 1AA"
  address = house_number + ", " + road_name + '\n' + town + '\n' + postcode
  print(address)


# run the function print_formatted()
print_formatted()

10, Old Road
Chatham
ME1 1AA

# String functions

## String length

You can get the length of a String using the len() function   
e.g. **namelength** = len(`name`)

---
### Exercise 4 - String length  

Write a function called **print_name_length()** which will:  

*  set the value of **name** to "Sourojit"    
*  assign the length of the name to a variable called **name_length**  
*  print the `name` followed by a comma, then `name_length`, then the word “characters”.  

**Expected Output**:  
William, 7 characters

In [56]:
def print_name_length():
  #add code here to ask a user's name and check the length
  name = "Sourojit"
  name_length = len(name)
  print(name_length)

# run the function print_name_length()
print_name_length()

8

## String Case Conversion  

When you start to compare and search for strings, you will need to be aware that data doesn’t always turn up in the state we would like it.  People often forget to use capital letters at the beginning of their names and will sometimes use all capitals.  It is useful, therefore, to be able to convert a String either to all capitals or all lowercase, depending on how you want to see it.  

There are three functions for this, which are linked to the String (here the String variable is called **name**).  

*   **upper_case_name** = `name.upper()`
*   **lower_case_name** = `name.lower()`
*   **capitalised_name** = `name.capitalize()`

---
### Exercise 5 - case conversion  

Write a function called **convert_to_capitals()** which will:  

*  set the variable **name** to "jaswinder"   
*  assign the capitalised string to the variable **capitalised_name** 
*  print the `name` in capitals  


**Expected output**:  
JASWINDER

In [58]:
def convert_to_capitals():
  #add code here to set the name and change capitalisation
  name = "jaswinder"
  capitalised_name = name.capitalize()
  print(capitalised_name)

# run the function convert_to_capitals()
convert_to_capitals()

Jaswinder

---
###Exercise 6 - case conversion  

Write a function called **capitalise_names()** which will:  

*  set the value of **name** to benJamIN  
*  set the value of **surname** to "VERT"  
*  print both `name` and `surname` in lowercase with a capital letter at the start  

**Expected output**:  
Benjamin Vert

In [59]:
def capitalise_names():
  #add code here for set the variables, capitalise the strings and print name and surname
  name = "benJamIN"
  surname = "VERT"
  capitalised_name = name.capitalize()
  capitalised_surname = surname.capitalize()
  full_name = capitalised_name + " " + capitalised_surname
  print(full_name)


# run the function capitalise_names()
capitalise_names()

Benjamin Vert

---
### Exercise 7 - Substrings and case conversion

Write a function called **print_postcode_letters()** which will:   

*  set the value of **postcode** to "Me4 6bb"  
*  assign the first two letters of the postcode to a variable called **postcode_area**  
*  convert the `postcode_area` string to capital letters and assign this to a variable called **capitalised_area**  
*  print `capitalised_area`  

**Expected output**:  
ME

In [62]:
def print_postcode_letters():
  #add code here to set the postcode variable, convert to upper case and print it
  postcode = "Me4 6bb"
  postcode_area = postcode[0:2]
  capitalised_area = postcode_area.upper()
  print(capitalised_area)



# run the function print_postcode_letters()
print_postcode_letters()

ME

---
### Exercise 8 - Floor division and slicing

Write a function called **print_half_word()** which will:
 
*  set the value of **word** to Runtime    
*  assign the value of half the length of the `word` to a variable called **half_length**  
*  assign the first half of the `word` to a new variable called **half_word**  
*  print `half_word`  

*Hint:  when dividing the length of the word by 2, use floor division (//) so that you get a whole number of letters).  To get the first half of the word, use word[0:half_Length]*  

**Expected output**:  
Run

In [73]:
def print_half_word():
  #add code here to set the variables and to print the first half of the word
  word = "Runtime"
  half_length = len(word)/2
  half_word = word[0:3] # I can't figure out how to set this up using the value form the half_lenght variable....but I know you must be able to!
  print(half_word)


# run the function print_half_word()
print_half_word()

Run

# Reflection
----

## What you learnt through completing this notebook?

Your answer: that definitions are handy when you might need to repeat the same code/function but on a different set of numbers

## What caused you the most difficulty?

*Your* answer: issues/errors arising from incorrect indentation