<a href="https://colab.research.google.com/github/claret003/pythoncourse/blob/main/Worksheets/Wrangle_the_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merging dataframes, creating new columns, replacing with default or correctly formatted values
---

## Merging dataframes

We often want to use data from a set of different data files, or a set of dataframes we have prepared, to combine into one dataframe.

### To merge two dataframes together when both dataframes have column headings in common

If `df1` and `df2` have some column headings in common, to combine the two into one dataframe we use:  

`pd.concat([dataframes to combine])`

This will create a new dataframe with all columns from the original two dataframes, which we can store in a new variable for later use.  Missing values are filled with null values. 

If we want only the column headings that appear in both tables, we can use join='inner':

`pd.concat([dataframes to combine], join='inner')` 

We may also need to refactor the indexing, where two tables are indexed from 0 upwards, adding the two tables together will result in multiple occurences of the same index.  This can be overcome by using ignore_index=True:

`pd.concat([dataframes to combine], join='inner', ignore_index=True)`

### Exercise 1 - combine the two data sets

The Excel file at this URL https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true contains TWO data sheets named county-level and state-level.  

Read the county-level sheet into a dataframe called **county_level_df** 
Read the state-level sheet into a dataframe called **state_level_df** 

Write a function called **combine_whole** which: 

Uses `pd.concat([list of dataframes])` to combine the two dataframes into a new dataframe called **income_df**, filling missing values with null values.

In [26]:
import pandas as pd


county_level_df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true', sheet_name = 'county-level')
state_level_df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true', sheet_name = 'state-level')

def combine_whole():
  # add code to combine the 2 dataframes, filling missing values with NA
  return pd.concat([county_level_df, state_level_df])
  
  # create new dataframe from your function above 
income_df = combine_whole()


# run and test to check your new dataframe contains null values 
actual = income_df.isnull().values.any()
expected = True 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed, expected", expected, "got", actual)

print(income_df.shape)
income_df.head()

Test passed True
(23, 7)

  State  County  Population  Age  Income  Pop  Education
0    TX     1.0        72.0   34      65  NaN        NaN
1    TX     2.0        33.0   42      45  NaN        NaN
2    TX     5.0        25.0   23      46  NaN        NaN
3    TX     6.0        54.0   36      65  NaN        NaN
4    TX     7.0        11.0   42      53  NaN        NaN

### Exercise 2 - ignoring index to get a new indexing system
---

All rows in each dataframe are indexed from 0 to one less than the number of rows.  You may have noticed that the concatenation in the previous exercise has kept the indexing from the individual tables.  

If we are making a new table it may make sense to create a new set of indices, from 0 to one less than the length of the new table.   Do this by adding an extra paramater ignore_index=True.  ignore_index is False by default and all original indices are kept.

We can also use `join='inner'` to only join columns which are common to both tables

Write a function called **combine_common** which will: 

Combine the dataframes `county_level_df` and `state_level_df` into a new dataframe called `income_df`, adding the parameter `ignore_index=True` and join via inner join.

In [27]:
def combine_common():
  # add code to combine the 2 dataframes ignoring index and using inner join
  return pd.concat([county_level_df, state_level_df],join = 'inner', ignore_index= True)

# create new dataframe from your function above 
income_df = combine_common()


# run and test to check your new dataframe ends with the correct index and has the right number of columns 
actual = income_df.index[-1]
expected = 22

if actual == expected and len(income_df.columns) == 3:
  print("Test passed", actual)
else:
  print("Test failed, expected last row index of", expected, "got", actual, "and expected 3 columns but got", len(income_df.columns))

print(income_df.shape)
income_df.head()

Test passed 22
(23, 3)

  State  Age  Income
0    TX   34      65
1    TX   42      45
2    TX   23      46
3    TX   36      65
4    TX   42      53

# Appending rows to a dataframe

Where two dataframes have matching columns, we can append one to the other to add the records from one onto the end of the other.

We do this using dataframe.append()

`income_2 = income.append()`

### Exercise 3 - add new rows to the end of the income dataframe

The sheet `income` in the Excel data file has 10 further records showing State, Age and Income only, so this table matches the income dataframe exactly.

Read the data from sheet_name `income` in the same Excel data file into a new dataframe called **income_new**.  
 
Write a function called **combine_income** which will: 

Append this dataframe to the `income_df` dataframe to form a new dataframe called **income_df_v2**.  Use the ignore_index=True parameter to reindex.

In [30]:
income_new = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true', sheet_name = 'income')
def combine_income():
  # add code below to join the income_new dataframe with the income_df dataframe ignoring the index
  return income_df.append(income_new, ignore_index = True)

# save returned dataframe in a variable
income_df_v2 = combine_income()

# run and test to see if new dataframe has correct number of columns and correct indexing 
actual = income_df_v2.index[-1]
expected = 32

if actual == expected and len(income_df_v2.columns) == 4:
  print("Test passed", actual)
else:
  print("Test failed, expected last row index of", expected, "got", actual, "and expected 4 columns but got", len(income_df_v2.columns))

print(income_df.shape)
print(income_df_v2.shape)
income_df_v2.head()

Test passed 32
(23, 3)
(33, 4)

  State  Age  Income  Pop
0    TX   34      65  NaN
1    TX   42      45  NaN
2    TX   23      46  NaN
3    TX   36      65  NaN
4    TX   42      53  NaN

### Exercise 4 - Create a new Pop column in county_level_df

Looking at the tables country_level_df and state_level_df, each has a column containing data on population.  One column is headed *Population* and the other is headed *Pop*.  Ideally these would be merged into one column and this would minimise the number of NaN entries.  

Write a function called **create_pop** that:

*  Add a new column called '`Pop`' to the `county_level_df` dataframe which contains a copy of all the values in the '`Population`' column  (`df['new_name'] = df['existing_name']`)  
*  Drop the 'Population' column `df.drop([column name], axis=1)` from `county_level_df` and store the result in a new dataframe called **county_level_df_v2**

In [62]:

def create_pop(county_level_df):
  # add code below to join the income_new dataframe with the income_df dataframe ignoring the index
  county_level_df['Pop'] = state_level_df['Pop'] # creating a new column called population and filling the new population column with the values from state level population column
  return county_level_df.drop(['Population'], axis=1) #dropping the original population column, keeping only the new pop column

create_pop(county_level_df) 

# save returned dataframe in a variable
county_level_df_v2 = create_pop(county_level_df)

# # run and test to see if new dataframe contains pop column and dropped population column 
if 'Pop' in county_level_df_v2.columns and len(county_level_df_v2.columns) == 5:
  print("Test passed, contains 5 columns including Pop column")
elif 'Pop' in county_level_df_v2.columns and len(county_level_df_v2.columns) != 5:
  print("Test not passed, expected 5 columns, instead got", len(county_level_df_v2.columns))
else: 
  print("Test not passed, column Pop not present")

county_level_df_v2.head()

Test passed, contains 5 columns including Pop column

  State  County  Age  Income      Pop
0    TX       1   34      65  23543.0
1    TX       2   42      45  10343.0
2    TX       5   23      46   5231.0
3    TX       6   36      65  29587.0
4    TX       7   42      53  18142.0

## Exercise 5 - clean up the format of the Pop column in state_level_df

Now that both dataframes hava a Pop column, we should make the data consisent in format for both dataframes.

In `state_level_df` the values in the `Pop` column are in 1000s.  In `county_level_df_v2` the values in the `Pop` column are actual numbers.  Let's convert the `state_level_df` values from 1000s for consistency.  We can do this by performing an operation on a column ( `df[column name] = df[column name] // 1000 `) 

first copy the state_level_df into a new variable called **state_level_df_copy** you can do this like: `df_new = df.copy()` 

Write a function called **clean_pop** which will:

*  convert the values in the `Pop` column of the `state_level_df` dataframe from numbers of 1000s to actual numbers, rounding to whole numbers

In [63]:
state_level_df = pd.read_excel("https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true", sheet_name = 'state-level')
state_level_df_copy = state_level_df.copy()

def clean_pop(df):
  #add code below which converts the Pop column to actual numbers rather than 1000s 
  df['Pop'] = df['Pop'] // 1000
  return df
  

# create new variable 
state_level_df_v2 = clean_pop(state_level_df_copy)


# run and test to see if you've correctly converted the column to 10s instead of 1000s
actual = state_level_df_v2['Pop'].max()
expected = 29

if actual == expected and len(income_df_v2.columns) == 4:
  print("Test passed", actual)
else:
  print("Test failed, expected max of", expected, "got", actual)

Test passed 29

### Exercise 6 - combine the two v2 dataframes

Write function **combine_v2** which will: 

Combine `county_level_df_v2` and `state_level_df_v2` to create a new dataframe called **income_df_v3**.  The join type should be 'inner' and ignore_index should be True

In [64]:
def combine_v2():
  # return the 2 dataframes combined joined inner and ignoring index 
  return pd.concat([county_level_df_v2, state_level_df_v2], join='inner', ignore_index=True)

# save within a new dataframe
income_df_v3 = combine_v2()

# run and test if your new dataframe is correct length and has correct number of columns 

actual = len(income_df_v3)
actual2 = len(income_df_v3.columns)
expected = 23 
expected2 = 4 

if actual == expected and actual2 == expected2:
  print("Test passed", actual, "rows and 4 columns")
else:
  print("Test failed, expected", expected, "rows", expected2, "columns but got", actual, "rows and", actual2,"columns")

Test passed 23 rows and 4 columns

### Exercise 7 - pivot table of state and population 
---

Write a function called **create_pivot** which will:

Create a pivot table of `Pop` by `State` and store the result in a new dataframe called **population_pivot**  using `income_df_v3` created in exercise 6

To make a pivot table:

`df_pivot = pd.pivot_table(
      df, 
      values = 'column1 name',
      index = 'column2 name', 
      columns = 'column3 name',
      aggfunc = np.mean
)`  
If index column is not specified, it will automatically use the existing dataframe index   
Make sure to `import numpy as np` if you want to aggregate the means using `aggfunc`. 

**Test Input**  
population_pivot.shape   
**Test Output**  
(1, 5)

In [69]:
import numpy as np 

def create_pivot(df):
  #add code below which creates a pivot table of Pop and State 
  df_pivot = pd.pivot_table( df, values = 'Pop', index = 'State', aggfunc = np.mean )
  return df_pivot



#save series in a new variable
population_pivot = create_pivot(income_df_v3)


# run and test if your new series is the correct length
actual = len(population_pivot)
expected = 5 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed expected", expected, "got", actual)

population_pivot

Test passed 5

                Pop
State
CA        29.000000
IN         5.000000
MD        10.000000
NY        18.000000
TX     14478.166667

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer: I have learned how to bring togther different bits of data from seperate sources, concatenating to produce a new datatset.

## What caused you the most difficulty?

Your answer: No major difficulties other than a bit of country versus county confusion! :)